* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color: gray;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gif-grid-item {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.gif-grid-item p {
  padding: 5px;
  text-align: center;
}
.gif-grid-item img {
  max-height: 200px;
}


